.modal.top-sheet {
    top: 0% !important;
    bottom: auto !important;
    transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) .2s;
    will-change: transform;
    transform: translate(0, -100%) scale(1) !important;
    width: 100%;
    opacity: 1 !important;
}

.modal.top-sheet.open {
    transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) .35s .25s;
}

.modal.top-sheet.open:not([style*="display: none"]):not([style*="opacity: 0;"]) {
    transform: translate(0, 0%) !important;
}